<?xml version="1.0" encoding="UTF-8" ?>
<cfg>
    <database>
        <driver-class>{Driver Class}</driver-class>
        <jdbc-url>{JDBC Url}</jdbc-url>
        <username>{username}</username>
        <passwd>{password}</passwd>
    </database>

    <google-maps>
        <api-key>{Your Google Maps API Key}</api-key>
    </google-maps>

</cfg>
